.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #f4f8f6;
  background-color: #343a40;
  border: 1px solid #e5fdff;
}

.page-link:focus, .page-link:hover {
  color: #f4f8f6;
  background-color: #211f20;
  border: 1px solid #e5fdff;
  outline: 0;
}