<div class="col-sm-8">
    <table name = "userTable" class="table table-sm table-hover" style="width: auto;">
        <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 5%">Name</th>
            <th scope="col" style="width: 10%">Surname</th>
            <th scope="col" style="width: 10%">Email</th>
            <th scope="col" style="width: 7%">Phone</th>
            <th scope="col" style="width: 5%">Birthday Date</th>
            <th scope="col" style="width: 7%"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user._source.name}}</td>
            <td>{{user._source.surname}}</td>
            <td>{{user._source.email}}</td>
            <td>{{user._source.phone}}</td>
            <td>{{user._source.birthdayDate | date: "mediumDate"}}</td>
            <td class="text-center">
                <button class="btn btn-dark" ng-click="editUser(user)">Edit</button>
                <button class="btn btn-dark" ng-click="deleteUser(user._id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--<nav>-->
        <!--<ul class="pagination justify-content-center">-->
            <!--<li class="page-item">-->
                <!--<a class="page-link" href="#" aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <!--<span class="sr-only">Previous</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item">-->
                <!--<a class="page-link" href="#" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                    <!--<span class="sr-only">Next</span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->
    <ul direction-links="false" uib-pagination="" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>

    <button class="btn btn-dark" ng-click="getAllUsers()">Refresh</button>
    <button class="btn btn-dark" ng-click="add()">Add user</button>
    <br><br>
    <h4>{{message}}</h4>
</div>
